<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Medical_Store_Managment_System.Properties.Settings.medical_storeConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\medical_store.accdb"
            providerName="System.Data.OleDb" />
        <add name="Medical_Store_Managment_System.Properties.Settings.medicine_storeConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\medicine_store.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>